
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<form action="http://localhost:32865/login" method="post">
    <div>
        用户名：<input name="userName" />
    </div>
    <div>
        密码：<input name="password" />
    </div>
    <button>登录</button>
</form>

